ortools==9.15.6755
pandas
ruamel.yaml
pydantic
openpyxl # For XLSX output support
jinja2 # For prettifying output
# For CI
pytest
pytest-cov
ruff
# For web backend
fastapi[standard]
python-multipart
# For error tracking
sentry-sdk
